@import '../../common/styles/variables.scss';


.upload__area {
  @include align-justify-center;
  flex-direction: column;
  row-gap: 20px;
  border-radius: $borderRadius;
  width: 350px;
  height: 250px;
  border: 4px solid $whiteColor;
  color: $whiteColor;
  background-color: $mainBGColor;
  @include background-position;
  background-repeat: no-repeat;

  &-image {
    width: 45px;
    height: 45px;
    @include background-position;
  }
}