@import "../../common/styles/variables";


.signIn {
  @include flex-align-center;
  color: $whiteColor;

  &__logo {
    margin-bottom: 36px;
  }

  &__card {
    @include flex-align-center;
    background-color: $chevronBGColor;
    border-radius: $borderRadius;
    padding: 22px 30px;
  }

  &__input-container {
    @include flex-align-center;
    margin: 0;
    row-gap: 22px;
  }

  &__buttons-container {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
  }

  &__separator-container {
    margin: 33px 0;
    font-size: $signInFontSize;
    @include align-justify-center;
  }

  &__or {
    margin: 0 15px;
  }

  &__horizontal-line {
    width: 78px;
    height: 4px;
    background-color: $turquoiseWithOpacity;
  }


  &__social-container-item {
    @include align-justify-center;
    @include signIn-input;
    background-color: transparent;
    margin-bottom: 24px;
    cursor: pointer;
  }

  &__social-container {
    & button:last-child {
      margin-bottom: 0;
    }
  }

  &__logo-container {
    margin: 4px 10px 0;
  }

  &__noRegistration {
    @include align-justify-center;
    margin-top: 21px;
  }

  &__noRegistration-button {
    @include button-style;
    @include align-justify-center;
    cursor: pointer;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    font-size: $signInFontSize;
    color: $whiteColor;
    font-weight: bold;
  }
}
