@import '../../common/styles/variables.scss';

.response-data-container {
  color: $whiteColor;
}

.result {
  &__uploadContainer {
    @include image-container;
  }

  &__form-container {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: $whiteColor;
  }

  &__form-item {
    &-label {
      @include align-center;
      margin-bottom: 15px;
    }
  }
}


.aneuploid-img {
  background-image: url("../../common/assets/icons/uneuploid.svg");
  width: 132px;
  height: 30px;
  @include background-position;
}

.euploid-img {
  background-image: url("../../common/assets/icons/euploid.svg");
  width: 110px;
  height: 30px;
  @include background-position;
}