@import '../../common/styles/variables.scss';

.logo-container {
  text-align: center;
  margin-bottom: 148px;
}

.upload-container {
  @include grid-with-two-columns;
}

.upload-text {
  display: flex;
  align-items: center;
  color: $brownTextColor;
  opacity: 0.7;
  font-style: normal;
  @include big-fonts;
}

.dropzone {
  @include square-size;
  border-radius: $borderRadius;
}
