$mainBGColor: #000;
$brownTextColor: #F5971B;
$whiteColor: #ffffff;
$warningColor: rgba(213, 54, 91, 0.7);
$turquoiseColor: #42E8E0;
$turquoiseWithOpacity: rgba(66, 232, 224, 0.7);
$borderRadius: 20px;
$chevronBGColor: #26163E;
$numbersColor: #F58A21;
$numbersGradient: #F5951B;
$landscapeColor: #D73655;
$pinkTextColor: #D2355E;
$signInFontSize: 14px;
$yellowColor: #F5951B;
$yellowTextColor: #F5911D;


@mixin white-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: $whiteColor;
}

@mixin circle-radius {
  border-radius: 50%;
}

@mixin button-style {
  border: 4px solid $turquoiseWithOpacity;
  border-radius: 20px;
  @include big-fonts;
  color: $turquoiseWithOpacity;
  background-color: transparent;
}

@mixin border {
  border: 4px solid $turquoiseWithOpacity;
  border-radius: 20px;
}

@mixin circle {
  border: 3px solid $turquoiseWithOpacity;
  @include circle-radius;
  height: 65px;
  width: 65px;
}

@mixin big-fonts {
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
}

@mixin square-size {
  width: 608px;
  height: 608px;
}

@mixin grid-with-two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@mixin flex-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin align-center {
  display: flex;
  align-items: center;
}

@mixin align-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin solid-circle-size {
  width: 164px;
  height: 164px;
}

@mixin smaller-fonts {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

@mixin problem-solid-circle {
  @include smaller-fonts;
  color: $whiteColor;
  @include solid-circle-size;
  @include circle-radius;
  @include align-justify-center;
}

@mixin dark-circle {
  position: relative;
  z-index: 100;
  @include circle-radius;
  background-color: $mainBGColor;
  width: 400px;
  height: 400px;
  @include align-justify-center;
}

@mixin gradient-circle($gradient) {
  width: 258px;
  height: 258px;
  background: $gradient;
  @include circle-radius;
  @include align-justify-center;
}

@mixin solid-circle($color) {
  @include problem-solid-circle;
  background-color: $color;
}

@mixin outer-circle {
  position: absolute;
  top: 24px;
  left: 28px;
}

@mixin small-dot($color) {
  position: absolute;
  top: 190px;
  left: 428px;
  background-color: $color;
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

@mixin bottom-circle($color) {
  position: absolute;
  z-index: -10;
  height: 156px;
  width: 156px;
  border: 1px solid $color;
  border-radius: 50%;
  top: 641px;
  left: 116px;
}

@mixin chevron-typography {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

@mixin background-position {
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin signIn-input {
  width: 240px;
  height: 40px;
  box-sizing: border-box;
  @include border;
  font-size: $signInFontSize;
  color: $whiteColor;
}

@mixin modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(30, 30, 30, 0.7);
  z-index: 100;
}

@mixin modal-container-item {
  position: fixed;
  top: 50%;
  left: 50%;
}

@mixin image-container {
  border-radius: $borderRadius;
  width: 350px;
  height: 250px;
  border: 4px solid $whiteColor;
  @include background-position;
}



