$mainBGColor: #1E1E1E;
$brownTextColor: #F5971B;
$whiteColor: #ffffff;

@mixin text-color {
  color: #42E8E0;
  opacity: 0.7;
}

@mixin white-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: $whiteColor;

}

@mixin button-style {
  border: 4px solid rgba(66, 232, 224, 0.7);
  border-radius: 20px;
  @include big-fonts;
  @include text-color;
  background-color: transparent;
}

@mixin border {
  border: 4px solid rgba(66, 232, 224, 0.7);
  border-radius: 20px;
}

@mixin circle {
  border: 3px solid rgba(66, 232, 224, 0.7);
  border-radius: 50%;
  height: 65px;
  width: 65px;
}

@mixin big-fonts {
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
}

@mixin square-size {
  width: 608px;
  height: 608px;
}

@mixin grid-with-two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

$borderRadius: 20px;