@import '../../common/styles/variables';

.about-container {
  margin: 102px 0 100px 0;
  @include grid-with-two-columns;

  &-text {
    padding: 0 0 0 290px;
  }
}

.about-text {
  @include big-fonts;
  color: $turquoiseWithOpacity;
}

.about-image-container {
  @include circle-radius;
  width: 300px;
  height: 300px;
  background-image: url("../../common/assets/icons/oocyte.svg");
  @include background-position;
  margin-left: 40px;
}

.embryos-problem {
  margin: 0 190px auto;

  &__container {
    background-color: $chevronBGColor;
    color: $whiteColor;
    padding: 53px 31px;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;

    & > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__text {
    text-align: center;

    &-warning {
      color: $pinkTextColor;
    }

  }

  &__logo {
    background-image: url("../../common/assets/icons/logo.svg");
    @include background-position;
    width: 250px;
    height: 50px;
  }

  &__footer {
    padding: 0 50px;
    margin-top: 20px;
    @include align-justify-center;
    justify-content: space-between;
  }

  &__footer-textContainer {
    @include align-justify-center
  }

  &__does {
    color: $whiteColor;
    font-size: 44px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
  }


  &__header {
    text-align: center;
    @include big-fonts;
    color: $whiteColor;
  }
}

.our-technology {
  position: relative;

  &__markup-container {
    position: absolute;
    @include align-justify-center;
    flex-direction: column;
    top: 475px;
    right: 183px;
  }

  &__text {
    margin-bottom: 10px;
    text-align: center;
    color: $turquoiseWithOpacity;
    font-size: 24px;
    font-weight: bold;
  }
}

.three-cards {
  margin: 100px 140px 100px;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 65px;
  }

  &__card {
    text-align: center;
    padding: 45px 34px;
    background: $chevronBGColor;
    font-size: 18px;
    color: $whiteColor;
    font-weight: bold;
    border-radius: $borderRadius;

    & > * {
      margin-bottom: 30px;
    }

    &-header {
      color: $pinkTextColor;
      font-size: 24px;
      font-weight: bold;
    }

    &-footer {

      &-yellow {
        color: $yellowTextColor;
      }

      &-red {
        color: $pinkTextColor;
      }
    }
  }
}


.hiw {
  padding: 0 115px;

  &__header {
    margin-bottom: 50px;
    color: $whiteColor;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
  }

  &__main-grid {
    @include grid-with-two-columns;

    &-left {
      @include align-center;
      flex-direction: column;


      &-images {
        margin-bottom: 30px;
        @include align-center;
        column-gap: 25px;
        font-size: 24px;
        font-weight: bold;
      }

      &-subContainer {
        @include align-justify-center;
        flex-direction: column;
      }

      &-text-euploid {
        color: $turquoiseColor;
      }


      &-text-aneuploid {
        color: $pinkTextColor;
      }

      &-footer {
        color: $whiteColor;
        font-weight: bold;
        font-size: 24px;
      }

      & > div:last-child {
        margin-top: 20px;
      }

      @for $i from 1 to 3 {
        &-image-#{$i} {
          margin-bottom: 10px;
          background-image: url("../../common/assets/icons/oocyteImage-#{$i}.svg");
          width: 185px;
          height: 185px;
          @include background-position
        }
      }
    }
  }


}


.technology-schema {
  width: 1238px;
  height: 691px;
  margin-bottom: 50px;
  background-image: url("../../common/assets/icons/technologySchema.svg");
  @include background-position;
}

.description {
  padding: 0 310px;
  text-align: center;
  @include big-fonts;
  color: $whiteColor;
}

.contact-us {
  margin-top: 150px;

  &__container {
    @include grid-with-two-columns;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.google-link {
  text-decoration: none;
  white-space: nowrap;
  display: block;
  width: 200px;
  @include flex-align-center;
  font-size: 84px;
  color: $brownTextColor;
}
