@import '../../common/styles/variables';

.about-container {
  margin: 102px 0 200px 0;
  @include grid-with-two-columns;
}

.about-text {
  @include big-fonts;
  color: $turquoiseWithOpacity;
  display: flex;
  align-items: center;
  padding: 0 75px;
}

.about-image-container {
  border: 10px solid $turquoiseWithOpacity;
  @include circle-radius;
  @include square-size;
  background-image: url("../../common/assets/icons/oocyte.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 40px;
}

.embryos-problem {

  &__header {
    text-align: center;
    @include big-fonts;
    color: $whiteColor;
  }
}

