@import '../../common/styles/variables';

.oocyteForm {
  &__main {
    padding: 0 160px;
  }

  &__back-link-container {
    @include align-center;
    gap: 10px;
    margin-top: 100px;
  }

  &__backButton {
    color: $whiteColor;
    display: flex;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;

    &-arrow {
      margin-right: 5px;
    }
  }

  &__main-container {
    @include grid-with-two-columns;
    margin-top: 100px;
    gap: 180px;
  }

  &__oocyte-description {
    width: 350px;
  }

  &__form-container {
    @include flex-align-center;
    flex-direction: column;
    row-gap: 20px;

  }

  &__form {
    background-color: $chevronBGColor;
    padding: 22px 16px;
    border-radius: $borderRadius;
  }

  &__form-item {

    &-label {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      color: $whiteColor;
    }
  }

  &__form-button-container {
    margin-top: 35px;
    @include flex-align-center;
  }

}

@for $i from 1 through 4 {
  .formItem-#{$i} {
    background-image: url("../../common/assets/icons/formItem-#{$i}.svg");
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-position: center;
  }
}