@import '../../common/styles/variables';

.oocyteForm {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__main {
    padding: 0 160px;
  }

  &__image-container {
    background-image: url('../../common/assets/icons/loggedUser.svg');
    width: 58px;
    height: 58px;
    @include background-position;
  }

  &__logged-user-container {
    position: relative;
    @include align-center;
    gap: 36px;
  }

  &__logged-user-email {
    color: $whiteColor;
    text-align: center;
    position: absolute;
    top: 66px;
  }

  &__logged-user {
    @include flex-align-center;
  }

  &__back-link-container {
    @include align-center;
    gap: 10px;
    margin-top: 100px;
  }

  &__backButton {
    color: $whiteColor;
    display: flex;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;

    &-arrow {
      margin-right: 5px;
    }
  }

  &__main-container {
    @include grid-with-two-columns;
    margin-top: 100px;
  }

  &__dropArea {
    @include align-justify-center;
    flex-direction: column;
    row-gap: 20px;
    border-radius: $borderRadius;
    width: 350px;
    height: 250px;
    border: 4px solid $whiteColor;
    color: $whiteColor;

    &-image {
      background-image: url('../../common/assets/icons/uploadIconNew.svg');
      width: 45px;
      height: 45px;
      @include background-position;
    }
  }

  &__form-container {
    @include grid-with-two-columns;
    gap: 16px;

  }

  &__form {
    background-color: $chevronBGColor;
    padding: 22px 16px;
    border-radius: $borderRadius;
  }

  &__form-item {

    &-label {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      color: $whiteColor;
    }

    &-text {
      margin-left: 10px;
    }
  }

  &__form-button-container {
    margin-top: 35px;
    @include flex-align-center;
  }

}

@for $i from 1 through 4 {
  .formItem-#{$i} {
    background-image: url("../../common/assets/icons/formItem-#{$i}.svg");
    width: 15px;
    height: 15px;
    background-size: cover;
    background-position: center;
  }
}