@import "../../common/styles/variables";

.noRegistration {
  @include align-justify-center;
  margin-top: 50px;


  &__background {
    background-color: $chevronBGColor;
    padding: 38px 25px;
    border-radius: $borderRadius;
  }

  &__button-container {
    margin-top: 20px;
    @include align-justify-center;
  }
}