@import '../../common/styles/variables.scss';

.oocytesList {
  &__addButton-container {
    margin-top: 58px;
    display: flex;
    justify-content: center;
  }

  &__addButton {
    @include border;
    width: 300px;
    height: 60px;
    @include align-justify-center;
    background-color: transparent;
    box-sizing: border-box;
    font-size: $signInFontSize;
    color: $whiteColor;
    cursor: pointer;

    &-plus {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      @include background-position;
      background-image: url("../../common/assets/icons/Add_icon.svg");
    }
  }

  &__items-container {
    margin-top: 50px;
    padding: 0 100px;
    gap: 40px;
    @include grid-with-two-columns;
  }

  &__wrap {
    background-color: $chevronBGColor;
    border-radius: $borderRadius;
    padding: 16px;
    box-sizing: border-box;
  }

  &__item {
    display: flex;


    &-container {
      @include align-center;
      color: $whiteColor;
    }

    &-image {
      width: 150px;
      height: 120px;
      border-radius: $borderRadius;
      @include background-position;
    }

    &-info {
      @include grid-with-two-columns;
      margin-left: 15px;
      column-gap: 30px;
    }

    &-status {
      @include background-position;
      width: 90px;
      height: 20px;
    }

    &-footer {
      padding-left: 29px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-delete {
      background-color: inherit;
      border: none;
      cursor: pointer;
    }
  }

  @for $i from 1 through 4 {
    &__icon-#{$i} {
      margin-right: 15px;
      background-image: url("../../common/assets/icons/formItem-#{$i}.svg");
      width: 15px;
      height: 15px;
      @include background-position;
    }
  }
}